<h1>User Profile</h1>
<hr />

<table>
    <tr>
        <th>Name:</th>
        <td><%=current_user.username%></td>
    </tr>
    <tr>
        <th>Email:</th>
        <td><%=current_user.email%></td>
    </tr>
    <tr>
        <th>Logins:</th>
        <td><%=current_user.sign_in_count%></td>
    </tr>
</table>

<table class="episodes">
  <tr>
    <th class="episode-head">Season</th>
    <th class="episode-head">Episode #</th>
    <th class="episode-head">Episode Title</th>
  </tr>
<% @seasons.each do |season| %>
  <% if current_user.watches.where(season: season) == (season.episodes.all) %>
  <tr class="episode-row">
    <td class="episode-data">
      <%= season.number %>
    </td>
    <td class="episode-data">
    </td>
    <td class="episode-data">
    </td>
  </tr>
  <% elsif current_user.watches.where(season: season) != (season.episodes.all) %>
    <% current_user.watches.where(season: season).each do |episode| %>
      <tr class="episode-row">
        <td class="episode-data"><%= episode.season.number %></td>
        <td class="episode-data"><%= episode.number %></td>
        <td class="episode-data"><%= episode.title %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
